

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <ul>
        <li><a href="/Admin/Yonetim/Blog">Blog ekle</a></li>
        <li><a href="/Admin/Yonetim/BlogListele">Blog listele</a></li>
        <li><a href="/Admin/Yonetim/KisiselBilgiler">kisisel bilgiler</a></li>
        <li><a href="/Admin/Yonetim/Proje">Proje ekle</a></li>
        <li><a href="/Admin/Yonetim/ProjeListele">Proje Listele</a></li>
        <li><a href="/Admin/Yonetim/Hakkimda">Hakkımda</a></li>

    </ul>
</body>
</html>
