@{
    ViewData["Title"] = "Home Page";
}

@await Component.InvokeAsync("Hakkimda")
<!-- what i do section start -->
<div class="pb-12 px-2 sm:px-5 md:px-10 lg:px-14">
    <h3 class="text-[35px] dark:text-white font-bold font-robotoSlab pb-5"> Hizmetler! </h3>
    <div class="grid gap-8 grid-cols-1 md:grid-cols-2 xl:grid-cols-2">
        <div class="about-box bg-[#fefaf0] dark:bg-transparent">
            <img class="w-10 h-10 object-contain block" src="/kisisel/images/icons/icon1.svg"
                 alt="icon" />
            <div class="space-y-2">
                <h3 class="dark:text-white text-[22px] font-semibold"> Masaüstü Projeleri </h3>
                <p class="leading-8 text-gray-lite dark:text-[#A6A6A6]">
                    isteğe özel Stok takip,Otomasyon projeleri geliştirmekteyim.
                </p>
            </div>
        </div>
        <div class="about-box bg-[#f3faff] dark:bg-transparent">
            <img class="w-10 h-10 object-contain block" src="~/kisisel/images/icons/icon5.svg"
                 alt="icon" />
            <div class="space-y-2">
                <h3 class="dark:text-white text-[22px] font-semibold"> Web Projeleri </h3>
                <p class="leading-8 text-gray-lite dark:text-[#A6A6A6]">
                    Statik,Dinamik müşteri isteğine bağlı her türlü yönetim panelli E-Ticaret,Kurumsal,Kişisel web projeleri geliştirmekteyim.
                </p>
            </div>
        </div>
        <div class="about-box bg-[#f3faff] dark:bg-transparent">
            <img class="w-10 h-10 object-contain block" src="~/kisisel/images/icons/icon5.svg"
                 alt="icon" />
            <div class="space-y-2">
                <h3 class="dark:text-white text-[22px] font-semibold"> Web Tasarımı </h3>
                <p class="leading-8 text-gray-lite dark:text-[#A6A6A6]">
                    Statik web projeleride geliştirmekteyim.
                </p>
            </div>
        </div>
    </div>
</div>

<!-- what i do section start -->
<div class="px-2 sm:px-5 md:px-10 lg:px-14">
    <div class="bg-[#F8FBFB] dark:bg-[#0D0D0D] max-w-full h-auto py-10 rounded-xl">
        <h3 class="text-center dark:text-white text-6xl mb-3 font-semibold"> Referanslar </h3>
        <!-- slider and slider items -->
        <div class="slickOne text-center px-2 pt-8">
            <div>
                <img class="overflow-hidden brand-img" src="~/kisisel/images/erdem.jpg"
                     alt="brand icon" />
            </div>
            <div>
                <img class="overflow-hidden brand-img" src="~/kisisel/images/ozaktif.png"
                     alt="brand icon" />
            </div>
            <div>
                <img class="overflow-hidden brand-img" src="~/kisisel/images/indir221818717.png"
                     alt="brand icon" />
            </div>
            <div>
                <img class="overflow-hidden brand-img" src="~/kisisel/images/slider/brand3.png"
                     alt="brand icon" />
            </div>
        </div>
        <!-- slider and slider items end -->
    </div>
</div>
