
@{
    ViewData["Title"] = "OzGecmis";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

   

            <div class="col-span-12 lg:col-span-8">
                <div>
                    <!-- resume section start -->
                    <div class="bg-white lg:rounded-2xl dark:bg-[#111111]">
                        <div class="container sm:px-5 md:px-10 lg:px-14">
                            <div class="py-12 px-4 md:px-0">
                                <!-- resume page title -->
                                <h2 class="after-effect after:left-44">ÖzGeçmiş</h2>
                                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-x-6 gap-y-6 mt-[30px]">
                                    <!-- eductation start -->
                                    <div>
                                        <div class="flex items-center space-x-2 mb-4">
                                            <i class="fa-solid text-6xl text-[#F95054] fa-graduation-cap"></i>
                                            <h4 class="text-5xl dark:text-white font-medium"> Eğitim </h4>
                                        </div>
                                          <div
                                            class="bg-[#fff4f4] dark:bg-transparent py-4 pl-5 pr-3 space-y-2 mb-6 rounded-lg dark:border-[#212425] dark:border-2">
                                            <span class="text-tiny text-gray-lite dark:text-[#b7b7b7]">2019-</span>
                                            <h3 class="text-xl dark:text-white"> Bilgisayar Mühendisliği</h3>
                                            <p class="dark:text-[#b7b7b7]">Düzce Üniversitesi, Merkez/Düzce, Türkiye</p>
                                        </div>
                                        <div
                                            class="bg-[#fff4f4] dark:bg-transparent py-4 pl-5 pr-3 space-y-2 mb-6 rounded-lg dark:border-[#212425] dark:border-2">
                                            <span class="text-tiny text-gray-lite dark:text-[#b7b7b7]">2015-2019</span>
                                            <h3 class="text-xl dark:text-white"> Ümraniye Merkez Anadolu Lisesi</h3>
                                            <p class="dark:text-[#b7b7b7]"> Ümraniye/İstanbul, Türkiye </p>
                                        </div>
                                     
                                    </div>
                                    <!-- eductation end -->

                                    <!-- experiment start -->
                                    <div>
                                        <div class="flex items-center space-x-2 mb-4">
                                            <i class="fa-solid text-6xl text-[#F95054] fa-briefcase"></i>
                                            <h4 class="text-5xl dark:text-white font-medium"> Deneyim </h4>
                                        </div>
                                          <div
                                            class="bg-[#f2f4ff] dark:bg-transparent py-4 pl-5 pr-3 space-y-2 rounded-lg mb-6 dark:border-[#212425] dark:border-2">
                                            <span class="text-tiny text-gray-lite dark:text-[#b7b7b7]">01.04.22 - 01.10.22</span>
                                            <h3 class="text-xl dark:text-white">Sonel Yazılım </h3>
                                            <p class="dark:text-[#b7b7b7]">jr backend developer</p>
                                        </div>
                                        <div
                                            class="py-4 pl-5 pr-3 space-y-2 mb-6 rounded-lg bg-[#eef5fa] dark:bg-transparent dark:border-[#212425] dark:border-2">
                                            <span class="text-tiny text-gray-lite dark:text-[#b7b7b7]">01.06.21 - 15.09.21</span>
                                            <h3 class="text-xl dark:text-white"> Kayrasys siber güvenlik şirketi </h3>
                                            <p class="dark:text-[#b7b7b7]">Stajyer</p>
                                        </div>
                                      
                                       @* <div
                                            class="py-4 bg-[#eef5fa] dark:bg-transparent pl-5 pr-3 space-y-2 rounded-lg dark:border-[#212425] dark:border-2">
                                            <span class="text-tiny text-gray-lite dark:text-[#b7b7b7]">2008</span>
                                            <h3 class="text-xl dark:text-white">Best Writter</h3>
                                            <p class="dark:text-[#b7b7b7]"> Online Typodev Soluation Ltd. </p>
                                        </div>*@
                                    </div>
                                    <!-- experiment start -->
                                </div>
                            </div>
                        </div>

                         <div class="container bg-color-810 dark:bg-[#0D0D0D] py-12 px-2 sm:px-5 md:px-10 lg:px-20">
                            <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
                                <div class="col-span-1">
                                    <h4 class="text-5xl dark:text-white font-medium mb-8"> Skills </h4>
                                    <div class="flex gap-y-5 gap-x-2.5 flex-wrap">
                                        <button class="resume-btn">C#</button>
                                        <button class="resume-btn">.NetCore</button>
                                        <button class="resume-btn">Mvc</button>
                                        <button class="resume-btn">EntityFramework</button>
                                        <button class="resume-btn">LinQ</button>
                                        <button class="resume-btn">MSSQL</button>
                                        <button class="resume-btn">MySql</button>
                                        <button class="resume-btn">T-Sql</button>
                                        <button class="resume-btn">Ajax</button>
                                        <button class="resume-btn">Jquery</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                     
                    </div>
                    <!-- resume section start -->
                </div>
            </div>

    <!--==== js =====-->
    <script src="js/vendor/jquary.min.js"></script>
    <!-- main js -->
    <script src="js/main.js"></script>
